.send-email-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  // h2 {
  //   text-align: center;
  //   font-size: 24px;
  //   color: #2363da;
  // }
  
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
  
  button:hover {
    background-color: #45a049;
  }
  
  .error-message {
    color: red;
    margin-bottom: 16px;
  }
  
  .success-message {
    color: green;
    margin-bottom: 16px;
  }
  