.container {
  display: flex;
  flex-direction: column;
  border: 1.5px solid #e3e3e3;
  padding: 24px;
  border-radius: 16px;
  box-sizing: border-box;
  margin: 40px auto;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px, rgba(0, 0, 0, 0.1) 0px 8px 24px;

  transition: all 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 24px;
    transform: translateY(-4px);
    border: 1.5px solid var(--green);
  }

  .header {
    display: flex;
    flex-direction: column;
    margin: 0 0 16px;
    gap: 2rem;
    color: var(--green);
    .title {
      font-size: 28px;
      font-weight: bold;
    }
  }

  .table {
    border-collapse: separate;
    border-spacing: 3rem 2rem;
    margin-top: -8px;
    margin-bottom: -8px;
    margin-left: -12px;
    margin-right: -12px;

    .column {
      text-align: left;
      font-weight: blod;
      padding-top: 1rem;
      padding-bottom: 1rem;
      vertical-align: top;
      white-space: nowrap;
      color: rgb(0, 0, 0);
    }

    .info {
      text-align: left;
      font-weight: normal;
      padding-top: 1rem;
      padding-bottom: 1rem;
      vertical-align: top;
      color: rgb(44, 43, 43);
      display: flex;
      flex-direction: row;
      .icon {
        width: 5rem;
        height: 3rem;
        margin-top: -0.8rem;
      }
    }
  }
}
